body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* header */
.guru{
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
   background-size: 100% ;
   margin-top: 80px;
   padding-top: 50px;
   padding-bottom: 50px;
}
.guru  .title3 .sub-title{
    color: black;
}
.sub-title{
    font-size: 20px;
    border-radius: 8px;
    color: rgb(13, 19, 33);

}
.title1{
    font-size: 28px;
    font-weight: 600;
    color:  rgb(13, 19, 33);
    line-height: 55px;
}.guru .title1{
    margin-top: auto;
}
/* section2 */
.section2{
    width: 1920px;
    height: 1235px;
    align-self: center;
    
}
.content{
    display: flex;
    margin-top: 80px;
    margin-left:300px;
    box-sizing: border-box;
    box-shadow: 1px black;

}

.description{
    margin-top: 50px;

}
.but{
    margin-top: 80px;
    padding: 10px;
    font-size: 15px;

}
.title5{
    width: 477px;
    height: 220px;
    box-sizing: border-box;
    
}
.img{
    width: 260;
    height: 117;
    display: inline-block;
}
.content1{
    display: flex;
    margin-top: 80px;
    margin-left:300px;
    box-sizing: border-box;
    box-shadow: 1px black;

    
}
.title6{
    width: 477px;
    height: 220px;
    box-sizing: border-box;
}
.img1{
    width: 260;
    height: 117;
    display: inline-block;
}
.header{
    text-align: center;
}
.header1{
    font-size: 32px;
    font-weight: bold;
    color:  rgb(13, 19, 33);
    margin-left: 30%;
    margin-right: 30%;
}
.header2{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    line-height: 26px;
    letter-spacing: 0%;
    margin: 2% auto;
}
.header3{
    padding-bottom: 40px;
}
/* main section */
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px;
    font-size: 20px;
    margin-left: auto;
    margin-right:auto ;
    border: 600px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.section-title{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color:  rgb(13, 19, 33);
    margin-top: 25px;
}
.section-description{
    font-size: 16px;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}
.but{
    text-decoration: underline;
    color: black;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bigimage{
    margin-top: 5%;
    width: 1140px;
    height: 314px;
    position: relative;
    background-image: url('/assets/handshake.jpg');
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.bigimage{
    margin: 100px 100px;
    width: 800px;
    height: 300px; 
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bigimage h1{
    margin-bottom: 50px;
}
.bigimage p{
    margin-bottom: 40px;
    text-align: center;
}
.subject .subject2 .subject3{
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.subject2{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.subject3{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
/*  main section 2 */
.my-target{
  width: 1920px;
  height: 871px;
  text-align: center;
}
.target2{
    font-size: 32px;
    font-weight: bold;
    color:  rgb(13, 19, 33);
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5%;

}
.target3{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    line-height: 26px;
    letter-spacing: 0%;
    margin: 2% auto;
}
.main-target{
    display: inline-block;
}

.photo .imeg10 .imeg10{
    display: flex;
    width: 1060px;
    height: 140px;
}
.photo2{
    color: rgb(13, 19, 33);
   width: 97px;
   height: 36px;
   text-emphasis-position: top;

} 
.photo3{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
/* footer */
.footer{
    background-color: rgba(13, 19, 33, 0.03);
}
.foot{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 1%;
}
.footer-container{
    width: 100%;
    height: 100px;
    padding: 70px 30px 70px;
    box-sizing: border-box;
    margin-bottom: 60px;
    
}
.social{
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
.social a{
    text-decoration: none;
    padding:10px;
    background-color: white;
   margin: 10px;
    border-radius: 16px;

}